## Merging orders_checked.csv and orders_products_prior.csv

### This script contains the following points:

#### 1. Importing data

#### 2. Checking output and dimensions of data

#### 3. Reducing potential memory problems by changing data types and dropping a column

#### 4. Merging data

#### 5. Checking match between dataframes

#### 6. Exporting data as pickle

In [1]:
# Import libraries

import pandas as pd
import numpy as np 
import os

In [2]:
path = r'/Users/mainframe/Documents/Instacart Basket Analysis'

### 1. Importing data

In [3]:
# Importing orders_products_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [4]:
# Importing orders.csv
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

### 2. Checking output and dimensions of data

In [5]:
# Check the output

df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
# Check for mixed data
for col in df_ords_prior.columns.tolist():
    weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_ords_prior[weird]) > 0:
        print(col)

/var/folders/rg/l7v73y996hv36vxgfkdf06lc0000gp/T/ipykernel_95395/3364651956.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rg/l7v73y996hv36vxgfkdf06lc0000gp/T/ipykernel_95395/3364651956.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rg/l7v73y996hv36vxgfkdf06lc0000gp/T/ipykernel_95395/3364651956.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rg/l7v73y996hv36vxgfkdf06lc0000gp/T/ipykernel_95395/3364651956.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)

In [7]:
# Check for mixed data
for col in df_ords.columns.tolist():
    weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_ords[weird]) > 0:
        print(col)

/var/folders/rg/l7v73y996hv36vxgfkdf06lc0000gp/T/ipykernel_95395/94006350.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rg/l7v73y996hv36vxgfkdf06lc0000gp/T/ipykernel_95395/94006350.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rg/l7v73y996hv36vxgfkdf06lc0000gp/T/ipykernel_95395/94006350.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rg/l7v73y996hv36vxgfkdf06lc0000gp/T/ipykernel_95395/94006350.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rg/l7v73y996hv36vxgfkdf06lc0000gp/T/ipykernel_95395/94006350.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rg/l7v73y996hv36vxgfkdf06lc0000gp/T/ipykernel_95395/94006350.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rg/l7v73y996hv36vxgfkdf06lc0000gp/T/ipykernel_95395/94006350.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/rg/l7v73y996hv36vxgfkdf06lc0000gp/T/ipykernel_95395/94006350.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)

In [8]:
# Check for missing values
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [9]:
# Check for missing values
df_ords.isnull().sum()

Unnamed: 0.1                   0
Unnamed: 0                     0
order_id                       0
user_id                        0
order_number                   0
orders_day_of_week             0
hour_ordered                   0
days_since_prior_order    206209
dtype: int64

In [10]:
df_prods_prior = df_ords_prior[df_ords_prior.duplicated()]

In [11]:
df_prods_prior

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [6]:
# Check the output

df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_ordered,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [7]:
# Check shape

df_ords_prior.shape

(32434489, 4)

In [8]:
# Check shape

df_ords.shape

(3421083, 8)

In [9]:
# Further checking output
df_ords_prior.tail()

          order_id  product_id  add_to_cart_order  reordered
32434484   3421083       39678                  6          1
32434485   3421083       11352                  7          0
32434486   3421083        4600                  8          0
32434487   3421083       24852                  9          1
32434488   3421083        5020                 10          1

In [10]:
# Further checking output
df_ords.tail()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_ordered,days_since_prior_order
3421078,3421078,3421078,2266710,206209,10,5,18,29.0
3421079,3421079,3421079,1854736,206209,11,4,10,30.0
3421080,3421080,3421080,626363,206209,12,1,12,18.0
3421081,3421081,3421081,2977660,206209,13,1,12,7.0
3421082,3421082,3421082,272231,206209,14,6,14,30.0

### 3. Reducing potential memory problems by changing data types and dropping a column

In [11]:
df_ords.describe()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_ordered,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [12]:
# check data types of all columns in df_ords
print(df_ords.dtypes)

Unnamed: 0.1                int64
Unnamed: 0                  int64
order_id                    int64
user_id                     int64
order_number                int64
orders_day_of_week          int64
hour_ordered                int64
days_since_prior_order    float64
dtype: object

In [13]:
# changing data types in df_ords
df_ords['order_id'] = df_ords['order_id'].astype('uint32')
df_ords['user_id'] = df_ords['user_id'].astype('uint32')
df_ords['order_number'] = df_ords['order_number'].astype('uint8')
df_ords['orders_day_of_week'] = df_ords['orders_day_of_week'].astype('uint8')
df_ords['hour_ordered'] = df_ords['hour_ordered'].astype('uint8')
df_ords['days_since_prior_order']=df_ords['days_since_prior_order'].astype('float16')

In [14]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,hour_ordered,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [15]:
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

In [16]:
# check data types of all columns in df_ords_prior
print(df_ords_prior.dtypes)

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [17]:
# change all data types in df_ords_prior of int64 to int32
df_ords_prior['order_id'] = df_ords_prior['order_id'].astype('uint32')
df_ords_prior['product_id'] = df_ords_prior['product_id'].astype('uint16')
df_ords_prior['add_to_cart_order'] = df_ords_prior['add_to_cart_order'].astype('uint8')
df_ords_prior['reordered'] = df_ords_prior['reordered'].astype('int8')

In [18]:
# drop eval_set column
df_ords.drop(columns = {'Unnamed: 0', 'Unnamed: 0.1'}, inplace = True)

### 4. Merging data

In [19]:
# merge the two dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [20]:
# check output of merged dataframe
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,hour_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [21]:
df_merged_large.tail()

,order_id,user_id,order_number,orders_day_of_week,hour_ordered,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
32434484,2977660,206209,13,1,12,7.0,14197,5,1,both
32434485,2977660,206209,13,1,12,7.0,38730,6,0,both
32434486,2977660,206209,13,1,12,7.0,31477,7,0,both
32434487,2977660,206209,13,1,12,7.0,6567,8,0,both
32434488,2977660,206209,13,1,12,7.0,22920,9,0,both

### 5. Checking match between dataframes

In [22]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

### 6. Exporting data as pickle

In [23]:
# Export to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))